{% extends 'users/base.html' %}

{% block content %}
    
    <div class="jumbotron">
    	
    	{% if request.session.is_login %}
    	    {% if request.session.user_identity == "学生" %}
            <h1>欢迎{{ request.session.user_name }}同学使用云南师范大学学生选课管理系统</h1>    
            {% elif request.session.user_identity == "教师" %}   
            <h1>欢迎{{ request.session.user_name }}老师使用云南师范大学学生选课管理系统</h1>     
            {% endif %}      
        {% else %}
            <h1>欢迎使用云南师范大学学生选课管理系统</h1>
            <h2>请 <a href="{% url 'login' %}">登录</a></h2>
        {% endif %}

    </div> 
{% endblock content %}

