{% extends 'student/student_base.html' %}

{% block title %}
{{ request.session.user_name }}个人信息
{% endblock title %}
 {% block studentContent%}
              
     

  <div class="row-fluid">
                        <!-- block -->
                        <div class="block">
                            <div class="navbar navbar-inner block-header">
                                <div class="muted pull-left">个人信息</div>
                                
                    
                                <div class="pull-right"><span class="badge badge-warning"><a href="" >查看更多</a></span>

                          
                            </div>
                            </div>

                            <div class="block-content collapse in">
                                <div class="span12">
                                    <table class="table table-striped">
                                      <thead>
                                  <tr>
                                                    <th></th>
                                                <th></th>
                                           
                                             
                                            </tr>
                                      </thead>
                                      <tbody>
                                                 <tr><td>学号</td>
                                                     <td>{{ student }}</td>
                                                </tr>
                                                 <tr><td>姓名</td>
                                                     <td>{{ student.studentName }}</td>
                                                </tr>
                                                 <tr><td>性别</td>
                                                     <td>{{ student.studentSex }}</td>
                                                </tr>
                                                 <tr><td>班级</td>
                                                     <td>{{ student.studentClass }}</td>
                                                </tr>
                                                 <tr><td>专业</td>
                                                      <td>{{ student.studentMajor }}</td>
                                                </tr>
                                                 <tr><td>学院</td>
                                                        <td>{{ student.studentInstitute }}</td>
                                                </tr>
                                               
                                
                                  
                                               
                                             
                                            </tr>
                                      </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /block -->
                    </div>
 {% endblock studentContent %}